// Colors
$main-bg: #191919;
$main-grey: #A7A7A7;
$secondary-grey: #ccc;
$light-grey: #D9D9D9;
$light-black: #363636;
$black: #000;
$white: #fff;

$main-gradient: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);

$block-shadow: 0px 0px 12px #FFFFFF;

// Fonts
$arial: Arial, sans-serif;
$poppins: Poppins, sans-serif;

$fw-500: 500;
$fw-600: 600;
